## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [11]:
# Your code here
sample_list_1 = random.sample((range(1,100)),80)

print(sample_list_1)

[32, 73, 8, 47, 11, 26, 66, 45, 21, 34, 93, 94, 86, 56, 17, 19, 42, 77, 40, 91, 41, 25, 1, 84, 59, 57, 12, 3, 37, 90, 48, 97, 20, 49, 13, 46, 79, 88, 67, 82, 55, 5, 98, 61, 72, 43, 4, 99, 95, 23, 28, 22, 16, 85, 36, 9, 70, 71, 89, 68, 74, 51, 75, 80, 14, 63, 53, 76, 18, 7, 50, 54, 87, 27, 44, 81, 38, 10, 31, 52]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [71]:
# Your code here
set1=set(sample_list_1)

print(len(set1))

80
{1, 2, 3, 4, 5, 6, 7, 8, 11, 14, 15, 16, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 47, 48, 49, 51, 52, 53, 54, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 91, 92, 94, 95, 96, 97, 98}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [41]:
# Your code here

sample_list_2 = [random.randrange(0,100) for i in range(80)]
sample_list_2.sort()
print(sample_list_2)

[5, 5, 8, 8, 11, 12, 13, 13, 13, 14, 14, 15, 16, 16, 19, 20, 20, 22, 22, 22, 23, 28, 28, 30, 31, 31, 32, 32, 33, 35, 36, 37, 37, 38, 38, 39, 41, 42, 43, 44, 44, 47, 48, 49, 51, 51, 53, 54, 55, 56, 56, 58, 59, 59, 60, 61, 62, 65, 66, 71, 71, 72, 72, 77, 79, 80, 81, 81, 81, 82, 82, 85, 85, 87, 91, 93, 93, 95, 97, 97]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [44]:
# Your code here

set2 = set(sample_list_2)
print(len(set2))

# The length of set2, is not 80 although the list it was created from did have 80 elements. 
#This is because set data types only contain unique values.

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [46]:
# Your code here

set3 = set1|set2

print(set3)
print(len(set3))

{1, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 97, 98, 99}
89

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [50]:
# Your code here

set4 = set2-set1

print(set4)

{33, 65, 35, 39, 15, 62, 58, 60, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [51]:
# Your code here
set5 = set1&set2

print(set5)

{5, 8, 11, 12, 13, 14, 16, 19, 20, 22, 23, 28, 31, 32, 36, 37, 38, 41, 42, 43, 44, 47, 48, 49, 51, 53, 54, 55, 56, 59, 61, 66, 71, 72, 77, 79, 80, 81, 82, 85, 87, 91, 93, 95, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [53]:
# Your code here

print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

# set2 has 54 elements in total

# set4 represents the 9 elements present in set2 but not in set1

# set5 represents the 45 elements present in set1 and in set2

# Consequentally, 45 + 9 = 54 which shows all the unique elements present in set2

80
54
89
9
45

#### Create an empty set called `set6`.

In [56]:
# Your code here
set6 = {0}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [59]:
# Your code here
set6.update(set3,set5)

print(set6)

{0, 1, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [61]:
# Your code here
print(set1==set6)

# Yes, both sets are equal.

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [66]:
# Your code here
z = set2.issubset(set1) 
print(z)

# set2 is a Subset of set1

x = set3.issubset(set1)
print(x)

# set3 is a Subset of set1

True
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [68]:
# Your code here

newset = set3|set4|set5

newset2 = set1|set2

print(newset == newset2)

# The aggregated values between 2 sets are not the same

{1, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 97, 98, 99}
{0, 1, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 97, 98, 99}
False

#### Using the `pop` method, remove the first element from `set1`.

In [73]:
# Your code here
set1.pop()

print(set1)

{2, 3, 4, 5, 6, 7, 8, 11, 14, 15, 16, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 47, 48, 49, 51, 52, 53, 54, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 91, 92, 94, 95, 96, 97, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [106]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

# Your code here

set1.difference_update(list_to_remove)

print(set1)

{2, 3, 4, 5, 6, 7, 8, 14, 15, 16, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 44, 45, 47, 48, 52, 53, 54, 56, 57, 58, 62, 63, 64, 65, 66, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 88, 92, 94, 95, 96, 97, 98}